body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: auto;
    background-color: #f1f1f178
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.counter_container {
    float: left;
    width: 20%;
    text-align: center;
    background-color: #cae3f4;
    height: 100px;
}

.title {
    background: #065cac !important;
    color: #FFF;
}

.total_counter {
    background-color: #99c0ec; !important;
    text-align:center;
}

.chart_container{
    width: 30%;
    float: left;
    margin: 1%;
    text-align: center;
    color: #124c7f;
}

#most_used_hashtags_container {

}

#most_mentioned_users_container {

}

#most_active_users_container {

}
